@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&display=swap');

/* 62.5% x 16px = 10px */
/* Kaikkien muiden html-tagien pohja rem- fonttikoko määritellään html-tagissa */

html {
    font-size: 62.5%;
}

body {
    background-color: white;
    font-family: font-family: 'Crimson Text', serif;
}

.eka {
    background-color: #f9499e;
    border-radius: 2rem 2rem 0 0;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
}

.otsikkoTeksti {
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #FCE3D7;
    padding: 0 0 0.7rem 2rem;
}

header {
    color: #FCE3D7;
    padding: 2rem 0 0.5rem 0;
    margin: 0rem 0.3rem;
}

article {
    border: solid #f9499e 4px;
    padding: 1rem 0 3rem 0;
    background-color: #fff0db;
    margin-left: 2rem;
    margin-right: 2rem;
}

figure img {
    max-width: 100%;
    display: block;
    float: right;
    width: 11rem;
    height: auto;
    padding: 0.5rem 1rem;
}

h1 {
    font-weight: bold;
    font-size: 2.1rem;
    margin: 1rem 0 1rem 1rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5rem;
}
h2 {
    font-weight: bold;
    font-size: 1.7rem;
    padding: 1rem 1rem 0.3rem 3rem;
    background-color: none;
    color: #5e5e5e;
    margin: 0.3rem;
}
h3 {
    
    font-size: 1.5rem;
    padding: 0.6rem 0.6rem 0.4rem 6rem;
    background-color: none;
    color: black;
}

p {
    font-size: 16px;
    padding: 0.5rem 0.5rem 0 0;
    background-color: none;
    color: #FCE3D7;
    display: block;
    margin: 0.5rem 0 1rem 2.5rem;
    font-size: 1rem;

}

.sisennys-4rem {
    font-style: italic;
}

footer {
    background-color: #f9499e;
    border-radius: 0px 0px 2rem 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    padding: 1.5px 0 1.5px 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ops ol {
    list-style: decimal;
    padding-left: 4rem;
    font-size: 1.6rem;
}

li {
    margin: 1.2rem 0.3rem 0 3rem;
    padding: 0.2rem 0 0rem 2rem;
    font-family: 'Kaisei HarunoUmi', serif;
}

.responsive {
    width: 100%;
    max-width: 250px;
    height: auto;
    flex-basis: 100%;
}

.koulukuvat {
    padding: 1rem;
}

  
figcaption {
    background-color: black;
    color: #FFF0DB;
    font-style: italic;
    padding: 1rem 1rem;
    text-align: center;
    font-size: 14px;
    margin: 1rem 1rem 1rem 1rem;
    border-radius: 15px 15px 15px 15px;
}

.jarjestys {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem 0 2rem 0.5rem;
}



/*Muotoillaan kuvaesitys flexin avulla*/
/* Mobiilinäkymässä kuvat allekkain koko näytön leveydellä*/
.parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.parent>* {
    flex-grow: 1;
    flex-basis: 100%;
    border: solid white 1rem;

}


/* Tablet-näkymän CSS-säännöt*/

@media only screen and (min-width: 426px) {
    body {
      background-color: lightblue;
    }
    /* Tablet näkymässä kaksi kuvaa rinnakkain */
    .parent>* {
        flex-basis: 40%;
    }
}

/* Laptop ja sitä suurempien näkymien CSS-säännöt */
@media only screen and (min-width: 769px) {
    body {
      background-color: red;
    }
    /* Laptop näkymästä kaikki kuvat rinnakkain */
    .parent>* {
        flex-basis: 40%;
    }
}

